<%- include("template/cabecera.ejs", {tituloWeb:'Panel de Administración'}) %>
<div class="imagen">
        
    <img src="/img/img3.png" alt="Imagen 1" class="img">
</div>
<div class="imagen2">
        
    <img src="/img/img4.png" alt="Imagen 1" class="img2">
</div>
<br>
<div class="container">
    <h1 class="titulo">Lista de Entrenadores</h1>
    <br>
   
    
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Bio</th>
                <th scope="col">Ciudad</th>
                <th scope="col">lista_pokemon</th>
                <th scope="col">Accion</th>
            </tr>
        </thead>
        <tbody>
            <% if (arrayEntrenador.length> 0) { %>
                <!--Haremos el foreach para recorrer el array-->
                <% arrayEntrenador.forEach(entrenador => { %>
                    <tr>
                        <th scope="row"><%= entrenador.id %></th>
                        <td><%= entrenador.nombre %></td>
                        <td><%= entrenador.bio %></td>
                        <td><%= entrenador.ciudad %></td>
                        <td><%= entrenador.lista_pokemon %></td>
                        <td>
                            <a class="btn btn-warning btn-sm" href="entrenador/<%= entrenador.id %>">Editar/Eliminar</a>
                        </td>
                    </tr>
                <% }) %>
            <% } %>
      </tbody>
    </table>
    <a class="btn btn-success btn-block my-4" href="/entrenador/crearentrenador">Crear un nuevo Entrenador</a>
</div>
<%- include("template/footer.ejs") %>